*{
    padding: 0;
    margin: 0;
}
.content{
    padding-top: 50px;
    margin: 0 auto;
    width: 70%;
}
.live-cont{
    width: 100%;
    margin-bottom: 2em;
}
.live-info{
    width: 72%;
    display: inline-block;
    vertical-align: top;
}
.live-on{
    width: 100%;
    height: 560px;
    box-shadow: 1px 1px 6px 0 rgba(0,0,0,.1);
}
#video{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.c-info{
	margin: 12px auto 0 auto;
	width: 100%;
	border: 1px solid #eae8e8;
	box-shadow: 1px 1px 6px 0 rgba(0,0,0,.1);
}
.intro{
	padding: 20px;
	width: 100%;
    background: #ffffff;
}
.c-title{
	font-size: 20px;
	color: #333;
	letter-spacing: .13px;
	margin: 10px;
}
.c-intro{
	font-size: 15px;
	color: #999;
	margin: 10px;
}
.interact{
    background: #ffffff;
    height: 635px;
    position: relative;
    box-shadow: 1px 1px 6px 0 rgba(0,0,0,.1);
}
.talk-cont{
    display: inline-block;
    margin-left: 1.5%;
    width: 24.9%;
    height: 531px;
    margin-right: 0;
}
.talk-title{
    width: 100%;
    height: 46px;
    line-height: 50px;
    font-size: 20px;
    padding-left: 15%;
 /*   background-image: url("../../img/website/liveroom_talk_title.png");  */
    background: #fec303;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size:contain;
    margin-bottom: 3%;
    font-family: 微软雅黑;
}
.talk{
    max-height: 490px;
    overflow-y: auto;
}
.talk::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
.talk::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
.talk::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
.p-talk{
    width: 100%;
    font-size: 12px;
    padding: 7px 0;
    /* border-bottom: 1px solid #cccccc54; */
}
.p-info{
    padding-left: 5px;
    color: #4995ac;
}
.p-say{
    display: inherit;
    padding-left:15px;
    padding-right: 10px;
    word-break: break-all;
    word-wrap:break-word;
}
.p-input{
    position: absolute;
    bottom: -40px;
    width: 100%;
    height: 25%;
    padding-top: 20px;
    border-top: 1px solid #cccccc54;
}
.my-input{
    position: relative;
    width: 100%;
    height: 50%;
    margin: 0 auto;
 }
.p-input #my-input{
    width: 80%;
    height: 100%;
    border:1px solid;
    border-right: 0px;
    border-radius: 3px;
    resize:none;
    overflow:hidden;
    outline-color: #fec303;
    vertical-align: top;
}
.send-btn{
    position: absolute;
    width: 20%;
    height: 100%;
    color: #000000;
    font-family: "微软雅黑";
    border-radius: 3px;
    background: #fec303;
    border: 1px solid;
    font-size: 14px;
}

.talk-error-info{
    margin-left: 5%;
    margin-top: 1%;
    margin-right: 5%;
    color: #9e2c2c;
}

.liveroom_title{
    width:99%;
    height:50px;
    margin-bottom: 2%;
}
.liveroom_title  li{
    font-size: 1.3rem;
    line-height: 2rem;
}