{% extends "base.html" %}
{%  block link %}
    <link href="{{STATIC_URL}}css/website/404.css" rel="stylesheet" type="text/css" media="all">
{% endblock %}
{% block content %}
<div class="container">
    <div class="img-wrap">
        <img src="https://gogoarmy-1256943690.cos.ap-beijing.myqcloud.com/img/util/404/404.png">
        <div class="backto">
            <img src="https://gogoarmy-1256943690.cos.ap-beijing.myqcloud.com/img/util/404/404_btn.png">
            <div class="back-url"><a href="/">返回首页</a></div>
        </div>
    </div>

</div>
{% endblock %}