{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/website/person.css" >
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/website/contact_us.css" >
<script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
{% endblock%}

{% block content %}
<div class="container contact_us">
    <!--<div class="wrap">-->
        <!--<div class="slider">-->
            <ul class="sidenav_2Wwh" id="sidenav">
                <li class="sidenav-list_1jv- active_KY_h"><a href="#intro">网校简介</a></li>
                <li class="sidenav-list_1jv-"><a href="#qualification">网校资质</a></li>
                <li class="sidenav-list_1jv-"><a href="#safe">网校安全</a></li>
                <li class="sidenav-list_1jv-"><a href="#good_teacher">网校名师</a></li>
                <li class="sidenav-list_1jv-"><a href="#comment">学员评价</a></li>
            </ul>
            <div class="cc-content-wrapper_1jfg">
                <div class="content-right">
                    <div id="intro">
                        <section  class="section_pad">
                            <h3 class="sub-header_1xK8">
                                <span class="sub-header-title_2osj">网校简介</span>
                            </h3>
                            <p class="word_NbXQ paragraph_3PyV">学乐鸟会计网校（www……）是北京未来匠人教育科技有限公司旗下网站。
                                本校融汇了会计专业、法律专业、经济管理类专业、金融专业、计算机专业等领域的人才，各位老师均具备多年的考培经
                                验，学员通过率高达93%，在注册会计师的考试中，我们用课程与服务，将学员支起并发射到过关的彼岸——我们是考试
                                过关的“火箭发射器”！利用大数据、云计算等技术，我们动态分析每一位学员的学习情况，拥有自主知识产权的计算机
                                与网络软件先进技术，具有多元终端的智能服务平台，让学员足不出户，即可尽情畅享高清视频课程、专属班主任学习监
                                督、专家答疑等核心高质服务。</p>
                        </section>
                    </div>
                    <div id="qualification">
                        <section class="section_pad">
                            <h3 class="sub-header_1xK8">
                                <span class="sub-header-title_2osj">网校资质</span>
                            </h3>
                            <p class="word_NbXQ paragraph_3PyV">1.中华人民共和国互联网信息服务经营许可证 <br>
                                2.教育部（职业教育与成人教育司）“关于同意开班现代远程职业教育与培训的复函” <br>
                                3.通信管理局，因特网信息服务经营许可证 <br>
                                4.北京市文化部：网络文化经营许可证 <br>
                                5.新闻出版局：出版物经营许可证 <br>
                                6.新闻出版广电局：广播电视节目制作经营许可证 <br>
                                7.公司营业执照
                            </p>
                        </section>
                    </div>
                    <div id="safe">
                        <section class="section_pad">
                            <h3 class="sub-header_1xK8">
                                <span class="sub-header-title_2osj">网校安全</span>
                            </h3>
                            <p class="word_NbXQ paragraph_3PyV">为保证广大学员的信息安全，为本校学员提供一个优质、安心的网络学习环境，本站的所有数据信息均托管在腾讯提供的云服务器上，保证了安全可靠的数据传输与保存。学员信息采用加密保存，并且以权限化管理避免无关人员接触学员信息。
                                本校的网站与后台系统均采用当前主流的云端解决方案，符合国内外的主流安全标准，通过了国内、国际权威知名的杀毒软件、网络安全厂商在线产品的检测，广大学员可放心浏览本站，进行学习。

                            </p>
                        </section>
                    </div>
                    <div id="good_teacher">
                        <section class="section_pad">
                            <h3 class="sub-header_1xK8">
                                <span class="sub-header-title_2osj">网校名师</span>
                            </h3>
                            <p class="word_NbXQ paragraph_3PyV">栗银芳，会计学研究生毕业，长期从事注册会计师、中级会计师、银行农信社培训工作。教学经验丰富，授课深入浅出、条理清晰、旁征博引，富有亲和力与感染力。深谙命题规律与趋势，善于站在有利于考生理解和掌握的角度总结分析，对做题方法具有独到的研究，生动形象的授课风格，让学生在快乐中通过考试。
                                教学座右铭：机会只偏爱有准备的头脑，天道酬勤！踏踏实实做培训，认认真真做人！

                            </p>
                        </section>
                    </div>
                    <div id="comment">
                        <section class="section_pad">
                            <h3 class="sub-header_1xK8">
                                <span class="sub-header-title_2osj">学员评价</span>
                            </h3>
                            <p class="word_NbXQ paragraph_3PyV">1.我是去年6月份报名了网校的注会刷题课，我报了两科，会计和经济法，因为我只有晚上有时间复习，我就是每天下班之后学习，雷打不打。这个阶段我基本完成了教材和习题的第二遍学习，对第一遍不懂得非常多的知识点都有了深层次的理解。9月份开始我做考前模拟训练，做网校的模拟题我真是要崩溃了，会计做第2套就考了47分，再做一套50几分（还是在我拼命给自己加分的基础上），我当时真是心情跌落到了谷底，于是就在班群内发牢骚，得到了很多同学的支持，班主任也一直鼓励我，每天都发消息给我问我的进度。我也是尽快调整了心态，看淡了测试结果，重视起了每道题的分析。就这样一直坚持到考试。
                                回顾整个备考过程真的没有什么捷径，就是看书、听课、做题。每天重复这看似简单但是又不简单的过程。下面我想说一下在准备过程中的一些想法。毕竟准备了大半年，我也不是从头到尾都窝在家认认真真准备的。中间也有不少次实在是看不进去了，我就看一会儿电视剧。看一晚上后，晚上睡觉时我就会特别后悔，感觉又浪费了宝贵的一天。但是，接下来的一段时间我的效率就会很高，会学进去很多东西。（有的时候我也会强制自己呆在桌子前，但是效率真的是很低很低，所有我就放弃了这种战略）。这里我想说的是真的学不进去的时候不要硬学了，可以做点自己感兴趣的事情，然后再投入学习，真的会事半功倍啊。
                                好了，啰嗦了这么多就不再继续了，最后送给大家一句我很喜欢的话共勉。“每一个优秀的人，都有一段沉默的时光，那一段时光，不抱怨、不诉苦。日后想起时连自己都会被感动。”

                                2.我一年通过了四科，会计、审计、税法、经济法四科。接下来向大家分享一下我的学习方法： 1.时间安排：将每科的讲义打印出来，A4纸一张打两页，双面打印，这样就讲义就不会太厚，上班时间有空就偷偷拿出来看，下班我会先休息一下，然后再开始。周末肯定是用来学习的。大家不要小看上班的零碎时间，第一大家考注会肯定是想升职甚至跳槽的，在备考期间不要给自己接太多杂事工作做，利用零碎的时间把前一天学的知识点多做点题目。我觉得非常有用。
                                2. 看教材：教材一定要粗略的看一遍，像看小说一样得看，不用花太多时间，看不懂没关系，有个大致的印象就行，因为接下来你要对照着讲义听课件。
                                3. 听课件：听课时要对照着打印出来的讲义听，并在上面做笔记。
                                4.做题：例题是一定要弄明白的，如果某道例题我觉得有点掌握的不好，就会再去做相关的。如果一下子就明白的，就会少做一些题。错题的收集、分析、反复重做也很重要。
                                5.研究真题：历年真题有很好的参考价值，研究真题目的把握出题方向，只研究近三年的即可。
                                6.考前突击（绝招）：考前一个月的时候，我把每科自己做的重点抄下来，然后再背诵，强化记忆，这一招非常有效，你在抄写的过程其实就已经是一个记忆的过程，在进考场前拿出来再强化一遍。
                                接下来谈一谈各科的心得。
                                1.审计，审计我是最有信心的一科，我研究过审计的历年真题，每年考得内容都差不多，还经常出现重复的考点，虽然考试偏难，考了很多以前没考过的，但还是过了，60分刚刚好。
                                结论：审计老重复，研究背诵真题很重要
                                2.财务成本管理：做前面的客观题真是刷刷的，都是讲义上出现的题目，计算题也都是讲义上有的，做题时花了太多时间，然后做题不够熟练，综合题只做完了第一问，还不知道正确率如何。因为机考的缘故，我们需要时间在电脑上输入公式，财管今后还是会按简单模式继续下去的。
                                结论：财管很简单，做会记住讲义上的题目，就过了。
                                3.经济法：我都不知道经济法是怎么通过的，只记得客观题做的特别没有信心，考了好多新增的内容，基本上是凭感觉去选的，主观题还好，都是很熟悉的考点，估计我的主要得分点还是在主观题上面。

                            </p>
                        </section>
                    </div>
                </div>
            </div>
        <!--</div>-->
    <!--</div>-->
</div>
<script type="text/javascript">
    $(function(){
        $("#sidenav li a").click(function() {
            $(this).parent().siblings().removeClass('active_KY_h');  // 删除其他兄弟元素的样式
            $(this).parent().addClass('active_KY_h');                            // 添加当前元素的样式
        });
    })
</script>
{% endblock %}