<!DOCTYPE html>
<html lang="en">
<head>
<title>未来匠人</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="" />
<link href="{{STATIC_URL}}dist/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{{STATIC_URL}}css/website/style.css" type="text/css" media="all" />
<link href="{{STATIC_URL}}fonts/website/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
</head>
<body>
	<div class="banner jarallax">
		<div class="nav-container">
			<div class="w3-header-bottom">
				<div class="top-nav top-btn">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li class="first-list"><a class="active" href="/">首页</a></li>
								<li class="first-list"><a href="/">课程介绍</a></li>
								<li><a href="#">课程优势</a></li>
								<li><a href="#">教师团队</a></li>
								<li><a href="#">排行榜</a></li>
								<li><a href="">关于我们</a></li>
							</ul>
							<div class="clearfix"> </div>
						</div>
					</nav>
				</div>
				<div class="agileinfo-social-grids">
					{% if base_info.is_login %}
						<div class="btn-group user-bar">
							<a class="btn dropdown-toggle">
								<a href="#" class="btn dropdown-toggle" data-toggle="dropdown" >
									{{ base_info.username }}
								<span class="caret"></span>
								</a>
								<ul class="dropdown-menu dd-menu">
									<li><a href="/my_course/">我的课程</a></li>
									<li><a  onclick=logout()>注销</a></li>
								</ul>
							</a>
						</div>
					{% else %}
						<ul>
							<li><a href="/auth/web_login/" class="btn">登录</a></li>
							<li><a href="/auth/web_register/" class="btn">注册</a></li>
						</ul>
					{% endif %}
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="content">
		{% block content %}{% endblock %}
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="{{STATIC_URL}}js/website/login.js"></script>
	<script src="{{STATIC_URL}}js/website/register.js"></script>
	{% block script%}{% endblock %}
</body>
</html>